h1, h2 {
  color: red;
}

header {
  background-color: magenta;
}

main {
  background-color: blue;
}

section {
  background-color: lightgreen;
}

 div {
  background-color: gold;
}
